/usr/local/bin/cockroach-sql sql --host={{lookup('file', './temp/{{region}}/haproxy_internal_ip.txt')}} --certs-dir=certs --user=jhaugland --execute 'SET CLUSTER SETTING kv.rangefeed.enabled = true;'
