export CONNECT='postgresql://jhaugland@{{lookup('file', './temp/{{region}}/haproxy_internal_ip.txt')}}:26257?sslmode=verify-full&sslrootcert=/home/adminuser/certs/ca.crt&sslcert=/home/adminuser/certs/client.jhaugland.crt&sslkey=/home/adminuser/certs/client.jhaugland.key'
cockroach workload init kv ${CONNECT}
sleep 5
cockroach workload run  kv ${CONNECT}
