export COCKROACH_HOST={{lookup('file', './temp/{{region}}/haproxy_internal_ip.txt')}}
export COCKROACH_PORT=26257
# export COCKROACH_URL="jdbc:postgresql://${COCKROACH_HOST}:${COCKROACH_PORT}/defaultdb?sslmode=verify-full&sslrootcert=../certs/ca.crt"
export COCKROACH_URL="jdbc:postgresql://${COCKROACH_HOST}:${COCKROACH_PORT}/defaultdb?sslmode=verify-full&sslcert=../certs/client.jhaugland.crt.der&sslkey=../certs/client.jhaugland.key.der&sslrootcert=../certs/ca.crt.der"
export COCKROACH_DB_USER=jhaugland
# export COCKROACH_DB_PASS=jasonrocks
# substitute in actual KAFKA_HOST internal IP
# this will not run using a public ip-use the private ip.  Did not set up the advertised listeners in kafka to make this work
export KAFKA_HOST={{kafka_internal_ip}}
export KAFKA_PORT=9092
export REGION=eastus2
