# this must be the public haproxy host on the other cluster and the haproxy port must be open
./cdc-sink start  --bindAddr :30004 --metricsAddr :30005 --tlsSelfSigned --disableAuthentication --targetConn 'postgres://jhaugland@{{lookup('file', './temp/{{region}}/haproxy_internal_ip.txt')}}:26257/defaultdb?sslcert=/home/adminuser/certs/client.jhaugland.crt&sslkey=/home/adminuser/certs/client.jhaugland.key&sslrootcert=/home/adminuser/certs/ca.crt' --userscript ./cluster.ts --parallelism=100 -v -v
