id=kafka-rest-test-server
schema.registry.url=http://{{lookup('file', './temp/kafka_internal_ip.txt')}}:8081
zookeeper.connect={{lookup('file', './temp/kafka_internal_ip.txt')}}:2181
bootstrap.servers=PLAINTEXT://{{lookup('file', './temp/kafka_internal_ip.txt')}}:9092
consumer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringConsumerInterceptor
producer.interceptor.classes=io.confluent.monitoring.clients.interceptor.MonitoringProducerInterceptor
